@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: $font-size-text;
    accent-color: $primary-color;
    background-color: $black;
    color: $white;

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-size: $font-size-main-title;
        margin-bottom: 20px;
    }

    h2 {
        font-size: $font-size-title;
    }

    h3 {
        font-size: $font-size-subtitle;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    ul {
        li {
            list-style: none;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
