$black: #111;
$white: #fff;
$coral: #f08080;
$green: #17a417;
$red: #c20e0e;
$blue: #375daa;

$shadow: rgba(0, 0, 0, .6);

$primary-color: $blue;
$error-color: $red;

$font-size-main-title: 60px;
$font-size-title: 40px;
$font-size-subtitle: 30px;
$font-size-text: 20px;

$padding-inline: 60px
