@import '../../../../styles/variables.scss';

body {
    .searchTag {
        background-color: transparent;
        color: $white;
        cursor: pointer;

        &.active,
        &:hover {
            color: var(--color);
            background-color: var(--background-color);
        }
    }

}
