@import '../../../../styles/variables.scss';

.tag {
    width: auto;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    color: var(--color);
    border: 1px solid var(--background-color);
    background-color: var(--background-color);
    border-radius: 10px;
}
